@import './styles.scss';

.goals {
  padding-left: 32.26px;
  padding-top: 14px;
  margin-bottom: 12px;
  position: relative;

  &__title-container {
    padding-left: 0.8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 13.5px;
  }

  &__title {
    font-size: 20.11px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 7.5px;
  }

  &__button {
    display: block;
    width: 20px;
    height: 20px;

    & > img {
      width: 100%;
      pointer-events: none;
    }
  }

  &__wrapper {
    padding: 3px 15px 35px 15px;
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    transition: 0.3s;
  }

  &__item {
    padding: 13px 24px;
    padding-right: 12px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
      0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
    margin-right: 15px;
    width: calc(33.33% - 7.5px);
  }

  &__item-expense {
    font-family: 'Lato', sans-serif;
    font-size: 23.98px;
    font-weight: 600;
    line-height: 25px;
    color: $goalsPriceColor;
  }

  &__date {
    font-size: 14px;
    color: $greyTextColor;
    display: block;
    margin-bottom: 40.5px;
  }

  &__item-image {
    margin-bottom: 6px;
  }

  &__item-goal {
    font-weight: 400;
    font-size: 20.11px;
    line-height: 25px;
    color: $blackTextColor;
  }

  &__arrow {
    width: 9.63px;
    height: 19.27px;
    position: absolute;
    right: -18px;
    top: calc(50% + 9.63px);

    & > img {
      pointer-events: none;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: 0.3s;
  }

  &__modal {
    min-width: 300px;
    min-height: 400px;
    padding: 25px 15px;
    border: 5px solid $menuItemsActiveColor;
    border-radius: 25px;
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(200%);
    transition: 0.3s;
  }

  &__modal-text {
    margin-bottom: 10px;
  }

  &__data-entry-amount,
  &__data-entry-name {
    width: 100%;
    height: 30px;
    line-height: 24px;
    border: 1px solid $greyTextColor;
    border-radius: 7px;
    padding: 3px 7px;
    margin-bottom: 40px;
  }

  &__pictures-container {
    margin-bottom: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__image-link {
    & > img {
      pointer-events: none;
    }
  }

  &__image-link-active {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__add-goal-btn {
    min-width: 150px;
    margin-top: auto;
    text-decoration: none;
    font-weight: 700;
    color: $blackTextColor;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: $btnColor;
    transition: 0.3s;

    &:hover {
      background-color: orange;
    }
  }
}

@media (max-width: 1300px) {
  .goals__item {
    padding: 12px;
  }

  .goals__item-goal {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 1150px) {
  .goals__item-goal {
    font-size: 14px;
    line-height: 17px;
  }

  .goals {
    padding-left: 15px;
  }

  .goals__item-expense {
    font-size: 18px;
    line-height: 21px;
  }

  .goals__date {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

@media (max-width: 870px) {
  .goals {
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 25px;
  }
}
