@import './styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  &__left-bar {
    width: 60%;
  }

  &__title {
    font-size: 43.37px;
    color: $blackTextColor;
    line-height: 53px;
    font-weight: 600;
  }

  &__summary {
    font-size: 16px;
    color: $greyTextColor;
  }

  &__right-bar {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__message,
  &__bell {
    color: $notificationsColor;
    width: 20px;
    height: 16px;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.3s;

    & > i {
      pointer-events: none;
    }

    &:hover {
      color: $menuItemsActiveColor;
    }
  }

  &__bell {
    position: relative;

    & > span {
      position: absolute;
      top: 1px;
      right: 4px;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(187, 68, 48, 1);
    }
  }

  &__admin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__admin-image {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 193, 69, 1);
    border-radius: 50%;
    margin-right: 9px;
  }

  &__admin-name,
  &__admin-account {
    font-size: 14px;
    color: $blackTextColor;
  }

  &__admin-account {
    color: $greyTextColor;
  }
}

@media (max-width: 690px) {
  .header__right-bar {
    flex-wrap: wrap;
  }

  .header__admin {
    margin-top: 15px;
  }

  .header__title {
    font-size: 30px;
    line-height: 40px;
  }

  .header__summary,
  .header__title {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .header__left-bar {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .header__admin {
    display: none;
  }

  .header__right-bar {
    width: 25%;
  }

  .header__left-bar {
    width: 75%;
  }

  .header__bell {
    margin-right: 0;
  }

  .header__message {
    margin-right: 15px;
  }
}

@media (max-width: 370px) {
  .header__summary {
    display: none;
  }

  .header__title {
    line-height: 30px;
  }

  .header {
    padding: 15px 0;
  }
}
