@import './styles.scss';

.left-bar {
  padding: 60.4px 10px 32.97px 40.54px;
  border-right: 1px solid $borderLeftBarColor;
  width: 17%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  &__cloud {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
  }

  &__cloud-img {
    width: 60px;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
  }

  &__text {
    font-size: 8.75px;
    font-weight: 400;
    line-height: 10.78px;
    text-align: center;
    color: $blackTextColor;
    width: 103.76px;
    margin-bottom: 15px;
  }

  &__btn {
    background-color: $btnColor;
    max-width: 165px;
    border: none;
    border-radius: 14px;
    padding: 13.47px 18.83px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 11.14px;
    line-height: 13.93px;
    cursor: pointer;
    outline: none;
  }

  &__open,
  &__close {
    display: none;
    position: absolute;
    top: 42px;
    right: -50px;
    width: 50px;
    height: 40px;
    padding: 19px 10px;
    cursor: pointer;

    & > span {
      display: block;
      width: 100%;
      height: 2px;
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      width: 30px;
      height: 2px;
      transition: 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 10px;
      width: 30px;
      height: 2px;
      transition: 0.3s;
    }

    & > span,
    &::before,
    &::after {
      background-color: $greyTextColor;
    }

    .left-bar__close {
      & > span {
        display: none;
      }

      &::before {
        transform: rotate(45deg);
      }
    }
  }

  &__close {
    & > span {
      display: none;
    }

    &::before {
      transform: rotate(45deg);
      top: 19px;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 19px;
    }
  }
}

.logo {
  position: relative;
  padding-left: 2.74px;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 25.72px;
    width: 23px;
    height: 23px;
    background-image: url(../images/logo-image.svg);
    background-size: cover;
  }
}

.logo-conrainer {
  padding-bottom: 79.21px;
}

.menu {
  &__item {
    padding: 10px 16px;
    list-style: none;
    transition: 0.3s;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;

    &:hover {
      background-color: $menuItemsActiveBackgroundColor;
    }
  }

  &__link {
    text-decoration: none;
    color: $menuItemsColor;
    transition: 0.3s;

    &:hover {
      color: $menuItemsActiveColor;
    }
  }

  &__image {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 17.92px;
  }
}

@media (max-width: 1270px) {
  .left-bar__btn {
    display: block;
    padding: 10px;
    margin: 0 auto;
    font-size: 10px;
  }
}

@media (max-width: 1210px) {
  .left-bar__cloud {
    padding-right: 0;
  }

  .menu__image {
    margin-right: 7px;
  }
}

@media (max-width: 1150px) {
  .left-bar {
    padding-left: 10px;
  }
}

@media (max-width: 970px) {
  .left-bar {
    transform: translateX(-100%);
    width: 251px;
  }

  .left-bar__open,
  .left-bar__close {
    display: block;
  }
}

@media (max-width: 870px) {
  // .logo,
  // .menu,
  // .left-bar__cloud,
  // .left-bar__btn {
  //   opacity: 0;
  // }

  // .left-bar {
  //   width: 0;
  // }
}
