@import './styles.scss';

.dashboard__right-bar {
  width: 83%;
  padding: 34px 47.44px 32.1px 45px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1350px) {
  .dashboard__right-bar {
    padding: 20px;
  }
}

@media (max-width: 980px) {
  .dashboard__right-bar {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .dashboard__right-bar {
    padding: 10px;
  }
}
